img{
    cursor: pointer;
    border-radius: 20px;
}

h1{
    display: flex;
    justify-content: center;
}

h2{
    display: flex;
    justify-content: center;
}

h3{
    display: flex;
    justify-content: center;
}

p{
    display: flex;
    justify-content: center; 
}

ul{
    display: flex;
    justify-content: center;
}

.div-menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

#div-res{
    width: 300px;
    margin-top: 20px;
}
#div-chicken{
    width: 300px;
    margin-top: 20px;
}
#div-fish{
    width: 300px;
    margin-top: 20px;
}
#div-vegetarian{
    width: 300px;
    margin-top: 20px;
}

.menu-drinks{
    display: flex;
    align-items: center;
    justify-content: center;
}